#CONFIGURAZIONE DEGLI APPENDER

#definizione degli appender
log4cplus.appender.console=log4cplus::ConsoleAppender 

#opzioni dell'appender

#layout dell'appender
log4cplus.appender.console.layout = log4cplus::PatternLayout
log4cplus.appender.console.layout.ConversionPattern = %r %-5p %c  %x %M - %m%n

#CONFIGURAZIONI DEI LOGGER

log4cplus.rootLogger = TRACE, console


